# Endpoints
NETBIRD_MGMT_API_ENDPOINT=https://<DOMAIN>
NETBIRD_MGMT_GRPC_API_ENDPOINT=https://<DOMAIN>
# OIDC - using embedded IdP
AUTH_AUDIENCE=netbird-dashboard
AUTH_CLIENT_ID=netbird-dashboard
AUTH_AUTHORITY=https://<DOMAIN>/oauth2
USE_AUTH0=false
AUTH_SUPPORTED_SCOPES=openid profile email groups
AUTH_REDIRECT_URI=/nb-auth
AUTH_SILENT_REDIRECT_URI=/nb-silent-auth